<div class="container-fluid">
   <!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Order Listing</h1>
      <form class="d-none d-sm-inline-block form-inline ml-auto ml-md-3 my-2 my-md-0 mw-100 w-25" [formGroup]="searchForm">
         <div class="input-group">
            <input type="text" class="form-control small" placeholder="Search for..." aria-label="Search" formControlName="search">
            <div class="input-group-append">
               <button class="btn btn-primary" type="button">
               <i class="fa fa-search fa-sm"></i>
               </button>
            </div>
         </div>
      </form>
      <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm ml-auto" [routerLink]="['/app/orders/sales-order/ace-sales-order']" [queryParams]="{ type: 'add'}"><i class="fa fa-plus" aria-hidden="true"></i> Create Order</button>
      <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mx-1" data-toggle="modal" data-target="#filterModal"><i class="fa fa-filter" aria-hidden="true"></i> Filter</button>
      <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mx-1" (click)="exportFile()"><i class="fa fa-filter" aria-hidden="true"></i> Export List</button>
   </div>
   <div class="d-flex justify-content-center" *ngIf="!(!!rows) && !(!!pages)">
      <div class="my-5">
         <button class="btn btn-outline-secondary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
         </button>
      </div>
    </div>
       <div class="row pb-4" *ngIf="!!rows && !!pages">
         <div class="col-xl-12 col-lg-12">
            <div>
               <small>
                  <a href="javascript:void(0)" (click)="table.rowDetail.expandAllRows()">Expand All</a>
                  |
                  <a href="javascript:void(0)" (click)="table.rowDetail.collapseAllRows()">Collapse All</a>
                  |
                  <a href="javascript:void(0)" (click)="removeFilters()">Clear All Filters</a>
                </small>
            </div>



            <table id="excel-table" [style.display]="'none'"> 
               <tr>       
                  <th>Sr No.</th> 
                  <th>Order ID</th>  
                  <th>SSP ID</th> 
                  <th>Channel</th>   
                  <th>Amount</th> 
                  <th>Category</th>  
                  <th>Current Status</th> 
                  <th>Order Date</th>
                   
               </tr>    
               <tr *ngFor="let sup of rows">
             
                  <td>{{ sup.s_no }}</td>  
                  <td>{{ sup.orderId }}</td> 
                  <td>{{ sup.sspId }}</td> 
                  <td>{{ sup.channel }}</td> 
                  <td>{{ sup.amount }}</td>  
                  <td>{{ sup.orderCategory }}</td> 
                  <td>{{ sup.activeStatus }}</td> 
                  <td>{{ sup.orderDateTime }}</td> 
                
               </tr> 
           </table>




            <div class="card shadow mb-4 order-listing">
               <ngx-datatable
                  #myTable
                  class="material striped expandable "
                  [rows]="rows"
                  [columnMode]="ColumnMode.force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="auto"
                  [loadingIndicator]="loadingIndicator"
                  [externalPaging]="true"
                  [count]="pages.totalCount"
                  [offset]="pages.currentPage"
                  [limit]="pages.pageSize"
                  (page)="setPage($event)"
                  >
                  <!-- Row Detail Template -->
                  <ngx-datatable-row-detail [rowHeight]="400" #myDetailRow (toggle)="onDetailToggle($event)">
                     <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                        <div class="table-responsive-sm">
                           <table class="table table-bordered">
                              <tbody>
                                 <tr *ngFor="let item of row?.orderStatus; let i = index">
                                    <td>
                                       <div class="table-responsive-sm">
                                          <table class="table table-bordered">
                                             <thead class="thead-dark">
                                                <tr>
                                                   <th>Sub Order No.</th>
                                                   <th>Status</th>
                                                   <th>Assigned Vendor ID</th>
                                                   <th>TrackID</th>
                                                </tr>
                                             </thead>
                                             <tbody class="dark-border">
                                                <tr>
                                                   <td>
                                                      {{i + 1}}
                                                   </td>
                                                   <td>
                                                      {{item.activeStatus}}
                                                   </td>
                                                   <td>
                                                      {{item.vendorAssignedId}}
                                                   </td>
                                                   <td>
                                                      <button type="button" class="btn btn-outline-secondary btn-sm" (click)="changeStatus(item, row)" data-toggle="modal" data-target="#changeStatusModal">{{item.orderTrackSubId}}</button>
                                                   </td>
                                                </tr>
                                                <tr *ngFor="let listitem of item.orderItems;">
                                                   <td colspan="4">
                                                      <div class="table-responsive-sm">
                                                         <table class="table table-bordered table-sm">
                                                            <thead class="thead-light">
                                                               <tr>
                                                                  <th>Product Name</th>
                                                                  <th>Product Quantity</th>
                                                                  <th>Product Amount</th>
                                                                  <th>Product Category</th>
                                                               </tr>
                                                             </thead>
                                                            <tbody>
                                                               <tr>
                                                                  <td>{{listitem.productName}}</td>
                                                                  <td>{{listitem.productQuantity}}</td>
                                                                  <td>{{listitem.productAmount}}</td>
                                                                  <td>{{listitem.productCategory}}</td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </div>
                                                   </td>
                                                </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </ng-template>
                  </ngx-datatable-row-detail>
                  <ngx-datatable-column
                  [width]="50"
                  [resizeable]="false"
                  [sortable]="false"
                  [draggable]="false"
                  [canAutoResize]="false"
                >
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a
                      href="javascript:void(0)"
                      [class.datatable-icon-right]="!expanded"
                      [class.datatable-icon-down]="expanded"
                      title="Expand/Collapse Row"
                      (click)="toggleExpandRow(row)"
                    >
                    </a>
                  </ng-template>
                </ngx-datatable-column>
                  <ngx-datatable-column name="S No" prop="s_no" [width]="100" [sortable]=false></ngx-datatable-column>
                  <ngx-datatable-column name="Order ID" prop="orderId" [sortable]=false></ngx-datatable-column>
                  <ngx-datatable-column name="SSP ID" prop="sspId" [sortable]=false>
                     <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="!!row && !!row.sspId && row.sspId !== null">{{row?.sspId}}</span>
                        <span *ngIf="row.sspId === null">-</span>
                     </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Channel" prop="channel" [sortable]=false></ngx-datatable-column>
                  <ngx-datatable-column name="Amount" prop="amount" [sortable]=false></ngx-datatable-column>
                  <ngx-datatable-column name="Category" prop="orderCategory" [sortable]=false [width]="200"></ngx-datatable-column>
                  <ngx-datatable-column name="Current Status" prop="activeStatus" [sortable]=false>
                     <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <span [ngClass]="{'text-danger': !!row && !!row.activeStatus && row.activeStatus === 'CANCELLED', 'text-warning': !!row && !!row.activeStatus && row.activeStatus === 'UNDER_REVIEW'}">{{row?.activeStatus.replace('_', ' ')}}</span>
                     </ng-template>
                  </ngx-datatable-column>
                  <!-- <ngx-datatable-column name="Sub Category" prop="subCategory" [sortable]=false></ngx-datatable-column> -->
                  <ngx-datatable-column name="Order Date" prop="orderDateTime" [sortable]=false [width]="190">
                     <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <span>{{row?.orderDateTime}}</span>
                     </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Action" prop="orderId" [sortable]=false [width]="120">
                     <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <!-- [VIEW,'CANCEL,INITIATE_REFUND,INITIATE_RETURN,INITIATE_REPLACEMENT,REASSIGN_VENDOR,CHANGE_LOGISTICS] -->
                           <div class="dropdown order-options dropleft">
                              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <i class="fa fa-ellipsis-h  fa-2x" aria-hidden="true"></i>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                 <a class="dropdown-item" *ngFor="let item of row?.availableActions;">
                                    <button *ngIf="item === 'VIEW'" class="btn btn-sm btn-outline-secondary w-100" (click)="viewOrder(row)">View</button>
                                    <button *ngIf="item === 'INITIATE_REFUND'" class="btn btn-sm btn-outline-secondary w-100" (click)="raiseRefund(row)">Initiate Refund</button>
                                    <button *ngIf="item === 'CANCEL'" class="btn btn-sm btn-outline-secondary w-100" (click)="deleteOrder(row)">Cancel</button>
                                    <button *ngIf="item === 'INITIATE_REPLACEMENT' || item === 'INITIATE_RETURN'" class="btn btn-sm btn-outline-secondary w-100" (click)="returreplaceRequest(row)" data-toggle="modal" data-target="#returnreplaceModal">Return/Replace</button>
                                    <button *ngIf="item === 'REASSIGN_VENDOR'" class="btn btn-sm btn-outline-secondary w-100" (click)="reassignVendor(row)" data-toggle="modal" data-target="#reassignVendorModal">Reassign Vendor</button>
                                    <button *ngIf="item === 'COMPLETE_ORDER'" class="btn btn-sm btn-outline-secondary w-100" (click)="completeOrder(row)">Process Order</button>
                                 </a>
                              </div>
                           </div>
                     </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-footer *ngIf="!!pages.totalCount">
                     <ng-template
                        ngx-datatable-footer-template
                        let-rowCount="rowCount"
                        let-pageSize="pageSize"
                        let-count="totalCount"
                        let-selectedCount="selectedCount"
                        let-curPage="curPage"
                        let-offset="offset"
                        >
                        <div class="w-25" style="padding: 5px 10px">
                           <!-- <div> Showing {{((curPage - 1) * pageSize) + 1 }} - {{pageSize > rowCount ? rowCount : ((pageSize * curPage) > rowCount ? rowCount : pageSize * curPage)}} order of {{rowCount}} Orders </div> -->
                           <div>
                              Showing {{((curPage - 2) * pageSize)+1}} - {{ 
                                 ((curPage-1)*pageSize)}} order of 
                                 {{(rowCount)}} Orders
                            </div>

                        </div>
                        <datatable-pager
                        [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'"
                        [page]="curPage"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="setPage($event)">
                        </datatable-pager>
                     </ng-template>
                  </ngx-datatable-footer>
               </ngx-datatable>
            </div>
         </div>
      </div>
</div>
<div class="modal fade" id="exceluploadModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exceluploadModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <form class="user" [formGroup]="excelUploadForm" *ngIf="excelUploadForm" novalidate #excelForm="ngForm" (ngSubmit)="onSubmit(excelForm)">
         <div class="modal-header">
            <h5 class="modal-title" id="exceluploadModalLabel">Import Excel</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="onReset()">
            <span aria-hidden="true">×</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="row pb-5">
               <div class="col-xl-12 col-lg-12">
                  <div class="form-row">
                     <div class="form-group col-md-12 pt-4">
                        <label>Upload Excel File<span>*</span></label>
                        <div class="custom-file mb-4">
                           <input type="file" class="custom-file-input" (change)="onSelectedFile($event)" data-max-size="32154" accept=".xlsx, .xls" id="uploadexcel" formControlName="file" name="file" [ngClass]="{ 'is-invalid': submitted && excelcheckout.file.errors }">
                           <label class="custom-file-label bg-light" for="uploadexcel">Choose file...</label>
                           <div *ngIf="submitted && excelcheckout.file.errors" class="invalid-feedback">
                              <div *ngIf="excelcheckout.file.errors.required">Excel File should be uploaded</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button class="btn btn-outline-secondary w-25" type="button" data-dismiss="modal" (click)="onReset()">Cancel</button>
            <button class="btn btn-secondary w-25" type="submit">Submit</button>
         </div>
         </form>
      </div>
   </div>
</div>
<div class="modal fade" id="filterModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <form class="user" (ngSubmit)="submitFilter(filterObj)">
         <div class="modal-header">
            <h5 class="modal-title" id="filterModalLabel">Filter</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="form-row" *ngIf="!!filterObj">
               <div class="form-group col-md-4" *ngIf="!!productCategoryDropdown && productCategoryDropdown.length > 0">
                  <label for="orderCategory">Category</label>
                  <ng-select
                  [options]="productCategoryDropdown"
                  bindValue="value"
                  bindLabel="label"
                  [multiple]="false"
                  [closeOnSelect]="false"
                  [searchable]="true"
                  placeholder="Select Category"
                  clearAllText="Clear"
                  name="orderCategory"
                  id="orderCategory"
                  class="form-control bg-light custom"
                  [(ngModel)]="filterObj.orderCategory"
                  [ngModelOptions]="{standalone: true}"
                  >
                  </ng-select>
               </div>
               <div class="form-group col-md-4" *ngIf="!!orderStatusData && orderStatusData.length > 0">
                  <label for="orderStatus">Order Status</label>
                  <ng-select
                  [options]="orderStatusData"
                  bindValue="value"
                  bindLabel="label"
                  [multiple]="false"
                  [closeOnSelect]="false"
                  [searchable]="true"
                  placeholder="Select Category"
                  clearAllText="Clear"
                  name="orderStatus"
                  id="orderStatus"
                  class="form-control bg-light custom"
                  [(ngModel)]="filterObj.orderStatus"
                  [ngModelOptions]="{standalone: true}"
                  >
                  </ng-select>
               </div>
               <div class="form-group col-md-4" *ngIf="!!orderChannelData && orderChannelData.length > 0">
                  <label for="channel">Channel</label>
                  <ng-select
                  [options]="orderChannelData"
                  bindValue="value"
                  bindLabel="label"
                  [multiple]="false"
                  [closeOnSelect]="false"
                  [searchable]="true"
                  placeholder="Select Category"
                  clearAllText="Clear"
                  name="channel"
                  id="channel"
                  class="form-control bg-light custom"
                  [(ngModel)]="filterObj.channel"
                  [ngModelOptions]="{standalone: true}"
                  >
                  </ng-select>
               </div>
               <div class="form-group col-md-4" *ngIf="!!modeOfPaymentDropDownData && modeOfPaymentDropDownData.length > 0">
                  <label for="mode_of_payment">Payment Mode</label>
                  <ng-select
                  [options]="modeOfPaymentDropDownData"
                  bindValue="value"
                  bindLabel="label"
                  [multiple]="false"
                  [closeOnSelect]="false"
                  [searchable]="true"
                  placeholder="Select Category"
                  clearAllText="Clear"
                  name="mode_of_payment"
                  id="mode_of_payment"
                  class="form-control bg-light custom"
                  [(ngModel)]="filterObj.mode_of_payment"
                  [ngModelOptions]="{standalone: true}"
                  >
                  </ng-select>
               </div>
               <div class="form-group col-md-4" *ngIf="!!statusOfPaymentDropDownData && statusOfPaymentDropDownData.length > 0">
                  <label for="status_of_payment">Status of Payment</label>
                  <ng-select
                  [options]="statusOfPaymentDropDownData"
                  bindValue="value"
                  bindLabel="label"
                  [multiple]="false"
                  [closeOnSelect]="false"
                  [searchable]="true"
                  placeholder="Select Category"
                  clearAllText="Clear"
                  name="status_of_payment"
                  id="status_of_payment"
                  class="form-control bg-light custom"
                  [(ngModel)]="filterObj.status_of_payment"
                  [ngModelOptions]="{standalone: true}"
                  >
                  </ng-select>
               </div>
               <div class="form-group col-md-4">
                  <label for="updated">Updated At</label>
                  <input class="form-control" placeholder="Select Date" [maxDate]="maxDate" [bsConfig]="{ containerClass: 'theme-dark-blue', isAnimated: true }" bsDaterangepicker name="updatedAt" [(ngModel)]="filterObj.date">
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button class="btn btn-outline-secondary w-25" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-secondary w-25" type="submit">Apply</button>
         </div>
         </form>
      </div>
   </div>
</div>
<div class="modal fade" id="returnreplaceModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="returnreplaceModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <form class="user needs-validation" novalidate [formGroup]="returnrequestForm" #retreqForm="ngForm" (ngSubmit)="returnreplaceSubmit(retreqForm)" *ngIf="returnrequestForm">
         <div class="modal-header">
            <h5 class="modal-title" id="returnreplaceModalLabel">Retur/Replace Request</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="form-row">
               <div class="form-group col-md-4">
                  <label for="orderId">Order ID</label>
                  <input type="text" class="form-control bg-light" id="orderId" formControlName="orderId">
               </div>
               <div class="form-group col-md-4">
                  <label for="orderId">Channel</label>
                  <input type="text" class="form-control bg-light" id="orderId" formControlName="channel">
               </div>
               <div class="form-group col-md-4">
                  <div class="d-block"><label class="control-label">Select</label></div>
                  <div class="d-flex">
                     <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="requestType" id="return" [value]='true' formControlName="requestType"/>
                        <label class="custom-control-label" for="return">Return</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="requestType" id="replace" [value]='false' formControlName="requestType"/>
                        <label class="custom-control-label" for="replace">Replace</label>
                      </div>
                  </div>
                  <div class="d-block">
                     <div class="py-1" *ngIf="retrepsubmitted && returnreplacecheckout.requestType.errors">
                        <p class="text-danger error-message m-0" *ngIf="returnreplacecheckout.requestType.errors.required">Please select one</p>
                     </div>
                  </div>
               </div>
               <div class="form-group col-md-12">
                  <label for="remark">Remark<span>*</span></label>
                  <textarea class="form-control bg-light" id="remark" formControlName="remark" placeholder="Remarks" [ngClass]="{ 'is-invalid': retrepsubmitted && returnreplacecheckout.remark.errors }"></textarea>
                  <div *ngIf="retrepsubmitted && returnreplacecheckout.remark.errors" class="invalid-feedback">
                     <div *ngIf="returnreplacecheckout.remark.errors.required">Remark is required</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button class="btn btn-outline-secondary w-25" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-secondary w-25" type="submit">Apply</button>
         </div>
         </form>
      </div>
   </div>
</div>
<div class="modal fade" id="changeStatusModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="changeStatusModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="my-5 text-center" *ngIf="!changestatusForm">
            <button class="btn btn-outline-secondary" type="button" disabled>
               <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
               Loading...
            </button>
         </div>
         <form class="user needs-validation" novalidate [formGroup]="changestatusForm" #chngstatForm="ngForm" (ngSubmit)="changeStatusSubmit(chngstatForm)" *ngIf="changestatusForm">
         <div class="modal-header">
            <h5 class="modal-title" id="changeStatusModalLabel">Retur/Replace Request</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="form-row">
               <div class="form-group col-md-3">
                  <label for="orderId">Order ID</label>
                  <input type="text" class="form-control bg-light" id="orderId" formControlName="orderId">
               </div>
               <div class="form-group col-md-3">
                  <label for="orderId">Channel</label>
                  <input type="text" class="form-control bg-light" id="channel" formControlName="channel">
               </div>
               <div class="form-group col-md-3">
                  <label for="orderId">Vendor Mapping ID</label>
                  <input type="text" class="form-control bg-light" id="vendorMappingId" formControlName="vendorMappingId">
               </div>
               <div class="form-group col-md-3">
                  <label for="orderId">User ID</label>
                  <input type="text" class="form-control bg-light" id="userId" formControlName="userId">
               </div>
            </div>
            <div class="form-row">
               <div class="form-group col-md-12" *ngIf="!!statusDropdownData && statusDropdownData.length > 0">
                  <label for="status">Update Status<span>*</span></label>
                  <ng-select
                  [options]="statusDropdownData"
                  bindValue="value"
                  bindLabel="value"
                  [multiple]="false"
                  [closeOnSelect]="false"
                  [searchable]="true"
                  placeholder="{{current_status}}"
                  clearAllText="Clear"
                  formControlName="status"
                  name="statusname"
                  id="status"
                  class="form-control bg-light custom"
                  [ngClass]="{ 'is-invalid': chngstatsubmitted && changestatuscheckout.status.errors }"
                  >
                  </ng-select>
                  <div *ngIf="chngstatsubmitted && changestatuscheckout.status.errors" class="invalid-feedback">
                     <div *ngIf="changestatuscheckout.status.errors.required">Select a status before updating.</div>
                  </div>
               </div>
            </div>
            <p><small><strong>Note:</strong>&nbsp; You can only change the status of the order.</small></p>
         </div>
         <div class="modal-footer">
            <button class="btn btn-outline-secondary w-25" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-secondary w-25" type="submit">Update</button>
         </div>
         </form>
      </div>
   </div>
</div>
<div class="modal fade" id="reassignVendorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="reassignVendorModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="my-5 text-center" *ngIf="!reassignVendorForm">
            <button class="btn btn-outline-secondary" type="button" disabled>
               <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
               Loading...
            </button>
         </div>
         <form class="user needs-validation" novalidate [formGroup]="reassignVendorForm" #revendForm="ngForm" (ngSubmit)="reassignVendorSubmit(revendForm)" *ngIf="reassignVendorForm">
         <div class="modal-header">
            <h5 class="modal-title" id="reassignVendorModalLabel">Reassign Vendor</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="form-row">
               <div class="form-group col-md-4">
                  <label for="orderId">Order ID</label>
                  <input type="text" class="form-control bg-light" id="orderId" formControlName="orderId">
               </div>
               <div class="form-group col-md-4" *ngIf="!!orderTrackSubIdDropdownData && orderTrackSubIdDropdownData.length > 0">
                  <label for="vendorMappingId">Select Track ID<span>*</span></label>
                  <ng-select
                  [options]="orderTrackSubIdDropdownData"
                  bindValue="value"
                  bindLabel="label"
                  [multiple]="false"
                  [closeOnSelect]="false"
                  [searchable]="true"
                  placeholder="Select Tracking ID"
                  clearAllText="Clear"
                  formControlName="vendorMappingId"
                  name="trackIdlist"
                  id="vendorMappingId"
                  class="form-control bg-light custom"
                  [ngClass]="{ 'is-invalid': revendorsubmitted && reassignvendorcheckout.vendorMappingId.errors }"
                  >
                  </ng-select>
                  <div *ngIf="revendorsubmitted && reassignvendorcheckout.vendorMappingId.errors" class="invalid-feedback">
                     <div *ngIf="reassignvendorcheckout.vendorMappingId.errors.required">Select a Tracking ID.</div>
                  </div>
               </div>
               <div class="form-group col-md-4" *ngIf="!!vendorListDropdownData && vendorListDropdownData.length > 0">
                  <label for="newVendorId">Update Vendor<span>*</span></label>
                  <ng-select
                  [options]="vendorListDropdownData"
                  bindValue="value"
                  bindLabel="label"
                  [multiple]="false"
                  [closeOnSelect]="false"
                  [searchable]="true"
                  placeholder="Select Vendor"
                  clearAllText="Clear"
                  formControlName="newVendorId"
                  name="vendorlist"
                  id="newVendorId"
                  class="form-control bg-light custom"
                  [ngClass]="{ 'is-invalid': revendorsubmitted && reassignvendorcheckout.newVendorId.errors }"
                  >
                  </ng-select>
                  <div *ngIf="revendorsubmitted && reassignvendorcheckout.newVendorId.errors" class="invalid-feedback">
                     <div *ngIf="reassignvendorcheckout.newVendorId.errors.required">Select a vendor before updating.</div>
                  </div>
               </div>
            </div>
            <p><small><strong>Note:</strong>&nbsp; You can only assign new Vendor for any Order.</small></p>
         </div>
         <div class="modal-footer">
            <button class="btn btn-outline-secondary w-25" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-secondary w-25" type="submit">Submit</button>
         </div>
         </form>
      </div>
   </div>
</div>